body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#title{
    flex-direction: column;
    line-height: 10px;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

li{
    display: inline-block;
    margin: 20px;
    
}

h2 {
    font-size: 56px;
    line-height: 10px;
}

span{
    color: rgb(132, 13, 201);
}

p{
    line-height: 20px;
    max-width: 500px;
}


img{
    width: 600px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: rgb(132, 14, 201);
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 13px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}


@media(max-width: 760px){
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }
    
    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img{
        display: none;
    }


}   
